@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn-primary {
		@apply flex items-center justify-center w-full gap-4 py-3 font-bold text-center text-white font-title bg-purple md:w-fit md:px-12;
	}
	.btn-secondary {
		@apply flex items-center justify-center w-full gap-4 py-3 font-bold text-center bg-white border-2 text-purple font-title md:w-fit md:px-12 border-purple;
	}
}

@font-face {
	font-family: Gotham-Black;
	src: url('fonts/Gotham-Black.otf') format('opentype');
}

@font-face {
	font-family: GothamBook;
	src: url('fonts/GothamBook.ttf') format('truetype');
}

@font-face {
	font-family: GothamMedium;
	src: url('fonts/GothamMedium.ttf') format('truetype');
}

html,
body {
	height: 100%;
}
