@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn-primary {
		@apply flex h-12 w-full items-center justify-center gap-2 bg-purple p-2 text-center font-title text-white;
	}
	.btn-primary:hover:not(:disabled) {
		@apply bg-purple-dark;
	}
	.btn-primary:disabled {
		@apply border-gray bg-gray;
	}

	.btn-secondary {
		@apply flex h-12 w-full items-center justify-center gap-2 border-2 border-purple bg-white p-2 text-center font-title text-purple;
	}
	.btn-secondary:hover:not(:disabled) {
		@apply bg-purple text-white;
	}
	.btn-secondary:disabled {
		@apply border-gray text-gray;
	}

	.btn-text {
		@apply flex items-center justify-center gap-1 p-1 text-center font-title text-purple;
	}
	.btn-text:hover:not(:disabled) {
		@apply text-purple-dark;
	}
	.btn-text:disabled {
		@apply text-gray;
	}
}

@font-face {
	font-family: Gotham-Black;
	src: url('/fonts/Gotham-Black.otf') format('opentype');
}

@font-face {
	font-family: GothamBook;
	src: url('/fonts/GothamBook.ttf') format('truetype');
}

@font-face {
	font-family: GothamMedium;
	src: url('/fonts/GothamMedium.ttf') format('truetype');
}

html,
body {
	height: 100%;
}
